
.face-image {
    background-color: whitesmoke;
    border-radius: 100%;
    display: block;
    height: 300px;
    margin: auto;
    width: 300px;
}

@media (max-width: 769px) {
    .face-image  {
        height: 200px;
        width: 200px;
    }
}