$primary: #216ac9;

$dark-color: #252527;
$darker-color: #1b1b1b;
$dark-color-hover: #2e2e38;
$light-color: #fefeff;
$light-color-hover: #eeeeee;
$accent-color: #216ac9;
$accent-color-hover: #3a7bd1;
$accent-color-light: #75afff;

$container-color: #F3F3F3;
$border-color: #E5E5E5;
$border-color-dark: #999999;

$font-console: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, monospace;
$font-normal: "Roboto", Helvetica, sans-serif;

$box-shadow-color: #d8d8d8;
$light-color-2: #fefefe;
$light-color-3: #ffffff;

$max-width: 1500px;